#wrapper { }

#wrapper .navigation {
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  color: #fff;
  height: 100%;
  width: 10%;
}

#wrapper .navigation ul {

}

#wrapper .navigation ul li {
  list-style-type: none;
  display: block;
}

#wrapper .navigation a {
  color: #fff;
  text-decoration: none;
}

#wrapper .navigation a i {
  font-size: 3em;
}

#wrapper .navigation .navigation-cycle-settings {
  position: absolute;
  bottom: 0;
  left: 0;
}

#wrapper .content-wrapper {
  padding: 1%;
  position: absolute;
  top: 0;
  right: 0;
  width: 88%;
}
