body, html {
  font-family: "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
}

#wrapper { }

#wrapper .navigation {
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  color: #fff;
  height: 100%;
  width: 3%; /*10% with link text */
  z-index: 5;
}

#wrapper .navigation ul {

}

#wrapper .navigation ul li {
  list-style-type: none;
  display: block;
  margin: 15px auto;
  width: 42px;
}

#wrapper .navigation ul li:first-child {
  margin-top: 0;
}

#wrapper .navigation a {
  color: #fff;
  text-decoration: none;
}

#wrapper .navigation a i {
  font-size: 3em;
}

#wrapper .navigation a span {
  display: none;
}

#wrapper .navigation .navigation-cycle-settings {
  position: absolute;
  bottom: 0;
  left: 14%;
}

#wrapper .navigation .navigation-cycle-settings a {
  margin: 0 auto;
  width: 50px;
  display: block;
}

#wrapper .content-wrapper {
  padding: 1%;
  position: absolute;
  top: 0;
  right: 0;
  width: 95%;
  z-index: 1;
}

#wrapper .content-wrapper h1,
#wrapper .content-wrapper h2,
#wrapper .content-wrapper h3,
#wrapper .content-wrapper h4,
#wrapper .content-wrapper h5,
#wrapper .content-wrapper h6,
#wrapper .content-wrapper .font-montserrant,
.modal-wrapper h1,
.modal-wrapper h2,
.modal-wrapper h3,
.modal-wrapper h4,
.modal-wrapper h5,
.modal-wrapper h6,
.modal-wrapper .font-montserrant,
.font-montserrant {
  font-family: 'Montserrat', sans-serif;
}

#wrapper .content-wrapper .font-ubuntu,
.font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

#wrapper .content-wrapper .font-roboto,
.font-roboto {
  font-family: 'Roboto', sans-serif;
}

/* System */
#wrapper .content-wrapper .system {

}

.system .row .nagios-summary {
  min-height: 135px;
  overflow: hidden;
  margin: 5% 0 2%;
}

.system .row .nagios-summary h2,
.system .row .nagios-summary h3,
.system .row .nagios-summary h4,
.system .row .nagios-summary ul,
.system .row .nagios-summary ul li {
  margin: 0 0 1%;
}

.system .row .nagios-summary .col-lg-4 {
  min-height: 130px;
}

.system .row .panelItem {
  /* border: 1px solid #ccc;
  border-radius: 15px; */
}

.system .row .panelItem {

}

.system .row .panelItem .panelHostItem {
  overflow: hidden;
}

.system .row .panelItem .panelHostItem * {
  display: inline-block;
}

.system .row .panelItem .panelHostItem h3 {
  float: left;
  margin: 0 !important;
}

.system .row .panelItem .panelHostItem p {
  margin: 0 !important;
  float: left;
  margin-top: 20px;
}

.system .row .panelServices {

}

.system .row .panelServices li {
  overflow: hidden;
}

.system .row .panelServices li div * {
  display: inline-block;
}

.system .row .panelServices li div h3 {
  margin: 0 0 0 5px;
}

.system .row .panelServices li div i {

}

.system .row .panelServices li div p {

}

/* Weather */
#wrapper .content-wrapper .weather {

}

.weather .current-conditions {

}

.weather .current-conditions p {
  font-size: 16px;
}

.weather .current-conditions p strong {
  font-weight: bold;
}

.weather .current-conditions .condition-status {

}

.weather .condition-status * {
  display: inline-block;
}

.weather .condition-status i,
.weather .condition-status h3 {
  font-size: 7.5em;
}

.weather .weather-alerts {

}

.weather .weather-alerts ul {

}

.weather .weather-alerts ul li {

}

.weather .weather-alerts ul li * {
  display: inline-block;
  font-size: 18px;
}

.weather .weather-alerts .noalerts {
  margin: 5% 0
}

.weather .weather-alerts .noalerts * {
  font-size: 4.5em;
  margin-left: 2%;
  display: inline-block;
}

/**
 * These CSS rules meet the brand guidelines set by Weather Underground. I wouldn't
 * fuck around with this, unless you have different arrangements with them.
 */
.wunderground-logo {
  position: absolute;
  bottom: 0;
  right: 35px;
}

.wunderground-logo a img {
  width: 200px;
}

/* Globals */

/* a e s t h e t i c */
@-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.align-center {
  text-align: center;
}

.clearfix {
  overflow: hidden;
}
