<div class="container-fluid modal-wrapper">
  <h1>Dashboard Settings</h1>

  <form ng-submit="saveApplicationSettings()">
    <fieldset>
      <legend>General</legend>

      <div class="form-group">
        <label for="cycleTime">Seconds per screen</label>
        <input type="number" class="form-control" id="cycleTime" ng-model="tabs.settings.cycleTime" />
      </div>

      <div class="checkbox">
        <label for="haltPageChange">
          <input type="checkbox" id="haltPageChange" ng-model="tabs.settings.disableScreenChange" /> Disable screen changing
        </label>
      </div>
    </fieldset>

    <!--fieldset>
      <legend>Live Alerts</legend>
      <p>The NOC Dashboard Server must be installed for this to work.</p>

      <div class="form-group">
        <input type="checkbox" id="enableLiveAlerts" ng-model="settings.enableLiveAlerts" /> Enable All Alerts
      </div>

      <div class="form-group">
        <input type="checkbox" id="enableNetworkAlerts" ng-model="settings.enableNetworkAlerts" /> Enable Network Alerts
      </div>

      <div class="form-group">
        <input type="checkbox" id="enableWeatherAlerts" ng-model="settings.enableWeatherAlerts" /> Enable Weather Alerts
      </div>

      <div class="form-group">
        <input type="checkbox" id="enableServiceAlerts" ng-model="settings.enableServiceAlerts" /> Enable Service Alerts
      </div>
    </fieldset-->

    <!--fieldset>
      <legend>Weather</legend>

      <div class="checkbox">
        <label for="enableLiveAlerts">
          <input type="checkbox" id="enableLiveAlerts" ng-model="settings.enableLiveAlerts" /> Enable Live Alerts
        </label>
        <p><span style="font-weight:bold">This is still a beta feature.</span> When a weather alert is received, the system will immediately open a modal specifying the weather alert, followed by an alert noise (if your browser supports HTML5 audio). You must have NWS CAP Feeds enabled, and the NOCDashboard WebSocketsService Application.</p>
      </div>
    </fieldset-->

    <fieldset>
      <legend>Restore Defaults</legend>

      <div class="form-group">
        <p>This will erase all local settings and restore defaults.</p>

        <button class="btn btn-danger">Reset Settings</button>
      </div>
    </fieldset>

    <input type="submit" class="btn btn-default" value="Save Changes" />
  </form>
</div>
