<ul class="font-roboto">
  <li>
    <a href="#/system" data-url="system">
      <i class="mdi mdi-chart-arc"></i> <span>Systems</span>
    </a>
  </li>
  <li>
    <a href="#/network" data-url="network">
      <i class="mdi mdi-lan-connect"></i> <span>Network</span>
    </a>
  </li>
  <!--li>
    <a href="#/servers" data-url="servers">
      <i class="mdi mdi-server"></i> <span>Servers</span>
    </a>
  </li-->
  <li>
    <a href="#/jenkins" data-url="jenkins">
      <i class="mdi mdi-factory"></i> <span>Builds</span>
    </a>
  </li>
  <!--li>
    <a href="#/tickets" data-url="tickets">
      <i class="mdi mdi-ticket"></i> <span>Tickets</span>
    </a>
  </li-->
  <!--li>
    <a href="#">
      <i class="mdi mdi-google-physical-web"></i> <span>OpenStack</span>
    </a>
  </li-->
  <!--li>
    <a href="#/communication" data-url="communication">
      <i class="mdi mdi-phone"></i> <span>Telecom/Messaging</span>
    </a>
  </li-->
  <li>
    <a href="#/weather" data-url="weather">
      <i class="mdi mdi-weather-rainy"></i> <span>Weather</span>
    </a>
  </li>
  <li>
    <a href="#/news" data-url="news">
      <i class="mdi mdi-newspaper"></i> <span>News</span>
    </a>
  </li>
  <!-- No data-url means these links are skipped in initialization. This is intended -->
  <li>
    <a href="/alerts" class="alerts-tab">
      <i class="mdi mdi-alert-box"></i> <span>Dashboard Alerts</span>

      <span class="alerts-count">XXX</span>
    </a>
  </li>
  <li>
    <a href="javascript:();" ng-click="openSettings()">
      <i class="mdi mdi-settings"></i> <span>Settings</span>
    </a>
  </li>
</ul>
