<ul class="font-roboto">
  <li>
    <a href="#/systems">
      <i class="mdi mdi-chart-arc"></i> <span>Systems</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="mdi mdi-lan-connect"></i> <span>Network</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="mdi mdi-server"></i> <span>Servers</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="mdi mdi-factory"></i> <span>Builds</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="mdi mdi-ticket"></i> <span>Tickets</span>
    </a>
  </li>
  <!--li>
    <a href="#">
      <i class="mdi mdi-google-physical-web"></i> <span>OpenStack</span>
    </a>
  </li-->
  <li>
    <a href="#">
      <i class="mdi mdi-phone"></i> <span>Telecom/Messaging</span>
    </a>
  </li>
  <li>
    <a href="#/weather" ng-click="editDashboardSettings">
      <i class="mdi mdi-weather-rainy"></i> <span>Weather</span>
    </a>
  </li>
  <li>
    <a href="/news" ng-click="editDashboardSettings">
      <i class="mdi mdi-newspaper"></i> <span>News</span>
    </a>
  </li>
  <li>
    <a href="/alerts" ng-click="editDashboardSettings" class="alerts-tab">
      <i class="mdi mdi-alert-box"></i> <span>Dashboard Alerts</span>

      <span class="alerts-count">XXX</span>
    </a>
  </li>
  <li>
    <a href="javascript:();" ng-click="openSettings()">
      <i class="mdi mdi-settings"></i> <span>Settings</span>
    </a>
  </li>
</ul>
